table {
  border-collapse: collapse;
}

th {
  border: solid 1px rgba(163, 163, 163, 0.7);
  width: 130px;
  font-family:Calibri, 'Trebuchet MS', sans-serif;
}

td {
  border: solid 1px rgba(163, 163, 163, 0.7);
}
  
.borde {
  background-color: rgba(207, 207, 207, 0.7);
  text-align: center;
}
  
.title {
  font-family:Calibri, 'Trebuchet MS', sans-serif;
  font-size: 35px;
  background-color: rgb(255, 222, 123);
  text-align: center  ;
}

.rojo {
  background-color: rgb(255, 207, 175);
  text-align: left;
}
  
.green {
  background-color: rgb(207, 245, 184);
}

.centro {
  background-color: rgba(207, 207, 207, 0.7);
  text-align: center;
}
    
.int {
  text-align: right;
  width: 120px !important;
}